
<!DOCTYPE html>
<html lang = 'en'>

{% set title = 'home' %}

{% include "head.njk" %}

<body>
    <div class = 'container'>
        {% if not user  %}
        	<p>Welcome! Please <a href = '/login'>log in</a></p>
        {% else %}
        	<p>Hello, {{ user.username }}. View your <a href = '/profile'>profile</a>.</p>
        {% endif %}
    </div>
</body>

</html>
